<html ng-app='listing'>
	<head>

	</head>
	<body ng-controller='UserCtrl' ng-init="array= <%= JSON.stringify(users) %>">
		<h1>Hello World</h1>
		<h2>Number: <%= ID %></h2>
    <img style='width: 400px;' src=<%= url %> />
    <%= users %>
    <ul>
      <li ng-repeat='user in array'>{{user}}</li>
    </ul>

    <div ng-init='files = <%= JSON.stringify(sample) %>'>
      <ul>
        <li ng-repeat='file in files'>{{file.path.replace('public/','')}}<img style='width: 300px;' ng-src="{{file.path.replace('public','..')}}" /></li>
      </ul>
    </div>

    <!-- <img src=<%= sample[0].path.replace('public','..') %> /> -->
	</body>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
<script src='./app.js'></script>
<script src='./ctrl.js'></script>
</html>
